$grey: rgb(52, 56, 64);
$dark: rgb(22, 22, 22);
$darkT: rgba(22, 22, 22, .5);
$extra_dark: rgb(33, 35, 43);
$extra_darkT: rgba(33, 35, 43, .5);
$blue: rgb(97, 218, 251);
$blueT: rgba(97, 218, 251, .5);
$off_white: rgb(245, 246, 245);